.header {
    padding: 15px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 25px;
    width: 100%;
    overflow: hidden;
  }

  #body{
    background-color: tomato;
  }

#wrapper{
  text-align: center;
  width: 50em;
  padding-top: 50px;
  padding-bottom: 6em;
  margin-top: 2em;
  margin-left: 20em;
 
  border: rgb(34, 153, 233) 5px solid;
  border-radius: 15%;
  background-color: rgb(128, 233, 198);
  display: flex;
  justify-content: center;
}

.button{
  color:rgb(240, 39, 25);
  background-color:  #0099CC;
  border-radius: 20px;
  font-size: 150%;
  width:130px;
  height:35px;
  border: 2px;
}
.button:hover {
  background: #2304aa;}

  .formAreas{
font-family: cursive;
}

#text1{

    border: 1px solid #ccc;
    font-size: 1rem;
    padding: 10px;
}

#text2{
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 10px;
}
  


#code{
float: left;
margin-left:5em ;
margin-right: 2em;

}

#uncode{
  float: right;
  margin-left: 2em;
  margin-right: 5em;
}

#offset{
  width: 50px;
}

#info{
  text-align: center;
  clear: both;
  padding-top: 30px;
  padding-right: 10%;
  padding-bottom: 30%;
  padding-left: 10%;
}