.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

#wrapper{
  text-align: center;
  align-items: center;
  padding-top: 30px;
  padding-right: 10%;
  padding-bottom: 30%;
  padding-left: 10%;
}

#code{

float: left
}

#uncode{
  
  float: right;
}

#offset{
  width: 50px;
}

#info{
  text-align: center;
  clear: both;
}